* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaz-tur.kaz-tur.dix -text
/apertium-kaz-tur.kaz-tur.lrx -text
/apertium-kaz-tur.kaz-tur.t1x -text
/apertium-kaz-tur.kaz-tur.t2x -text
/apertium-kaz-tur.kaz-tur.t3x -text
/apertium-kaz-tur.kaz-tur.t4x -text
/apertium-kaz-tur.tur-kaz.lrx -text
/apertium-kaz-tur.tur-kaz.t1x -text
/apertium-kaz-tur.tur-kaz.t2x -text
/apertium-kaz-tur.tur-kaz.t3x -text
/autogen.sh -text
/configure.ac -text
dev/bidix-sanity.sh -text
dev/tatoeba.kaz-tur -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/config.sh.in -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/puupankki.txt -text
texts/tatoeba.kaz.txt -text
texts/tatoeba.tur.txt -text
